<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Covid-19</title>
</head>

<body>
    <h1>Data Covid di Indonesia</h1>
    <ul>
        {% for covid in models['data'] %}
        <li>---------------</li>
        <li>-{{covid['provinsi']}}</li>
        <li>Positif : {{covid['kasusPosi']}}</li>
        <li>Sembuh : {{covid['kasusSemb']}}</li>
        <li>Meninggal : {{covid['kasusMeni']}}</li>
        {% endfor %}
    </ul>
</body>

</html>